<a href="https://colab.research.google.com/github/pranabsarma18/MLZoomcamp-2022/blob/main/Homeworks/Week_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

##Question 1
What's the version of NumPy that you installed?

In [2]:
np.__version__

'1.21.6'

##Question 2
How many records are in the dataset?

In [3]:
url = "https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv"

In [4]:
df = pd.read_csv(url)

In [5]:
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [6]:
len(df)

11914

##Question 3
Who are the most frequent car manufacturers (top-3) according to the dataset?

In [7]:
df["Make"].value_counts()[:3]

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

##Question 4
What's the number of unique Audi car models in the dataset?

In [8]:
#df[df["Make"] == 'Audi']["Model"].unique()
df[df["Make"] == 'Audi']["Model"].nunique()

34

##Question 5
How many columns in the dataset have missing values?

In [9]:
df.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

##Question 6
1. Find the median value of "Engine Cylinders" column in the dataset.
2. Next, calculate the most frequent value of the same "Engine Cylinders".
3. Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
4. Now, calculate the median value of "Engine Cylinders" once again.

Has it changed?

In [10]:
df["Engine Cylinders"].median()

6.0

In [11]:
m = df["Engine Cylinders"].mode().values[0]

In [12]:
m

4.0

In [13]:
m = df["Engine Cylinders"].mode()
df["Engine Cylinders"] = df["Engine Cylinders"].fillna(m)
df["Engine Cylinders"].isnull().sum()

30

In [14]:
df.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [15]:
df["Engine Cylinders"].median()

6.0

In [16]:
df_lotus = df[df["Make"] == "Lotus"]
X = df_lotus[["Engine HP","Engine Cylinders"]].drop_duplicates().dropna().values
X.shape

(9, 2)

In [17]:
XTX = X.T.dot(X)
XTX.shape

(2, 2)

In [18]:
XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 5.53084235e-05, -2.94319825e-03],
       [-2.94319825e-03,  1.60588447e-01]])

In [19]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

In [20]:
w = XTX_inv @ X.T @ y

In [21]:
w[0]

4.594944810094551